@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: 'Nunito sans', 'Open sans', Arial, sans-serif;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.header {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
   
}

.navbar a:hover {
    color: #0ef;
}

.menu-icon {
    display: none;
}

/*-------- Single product -----------*/
.small-container{
    max-width: 1080px;
    margin: auto;
    padding: 0 25px;
}

.single-product .column img {
    width: 100%;
    padding: 0;
}

.single-product {
    margin-top: 80px;
}

.row { 
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column {
    padding: 20px;
    flex-basis: 50%;
    min-width: 300px;
}

.column h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.column .rating {
    color: #ff523b;
}

.rating span {
    font-weight: 600;
    color: #252525;
}

.single-product h4 {
    margin: 20px 0 5px 0;
    font-size: 22px;
    font-weight: 700;
}

.old-price {
    font-size: 14px;
    margin-bottom: 10px;
}

.old-price span {
    text-decoration: line-through;
}

.stock {
    color: #2a8c2a;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.single-product select {
    display: block;
    padding: 10px;
    /* margin-top: 20px; */
}

.single-product input {
    width: 50px;
    height: 30px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}

.options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

/* input:focus {
    outline: none;
} */

.fa {
    color: #ff523b;
    margin-left: 10px;
}

.single-product .details {
    margin-top: 10px;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: 8px 30px;
    margin: 20px 0;
    border-radius: 30px;
    text-decoration: none;
}

.btn:hover {
    background: #ffb84f;
}

.buttons {
    display: flex;
    gap: 20px;
}

.buttons i {
    margin-right: 10px;
}

.cart {
    background-color: #ff523b;
    color: #fff;
}

.buy {
    background-color: #ffd814;
    color: #000;
}

/*----------- Styling Ideas --------------*/
.style-background {
    background: #f1f1f1;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.h2 {
    letter-spacing: 0.3px;
}

.heading {
    text-align: center;
    margin: 30px auto 20px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.heading::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}

.style-background .column {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.style-background .column img {
    width: 70%;
    height: 60%;
    margin-top: 20px;
    cursor: pointer;
}

.style-background .column:first-child img {
    margin-bottom: 20px;
}

/* .style-background .column:not(:first-child) img {
    height: 25%;
    width: 50%;
    margin-top: 20px;
    cursor: pointer;
} */

/* Related Products */

.row-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin: 50px 10px 15px 10px;
}

.row-2 p {
    color: #555;
}

.col-1 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-1:hover {
    transform: translateY(-5px);
}

.col-1 img {
    width: 100%;
}

.related-product .fa-solid, .fa-regular {
    color: #ff523b;
}

h4 {
    color: #555;
    font-weight: 500;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        background: #051129;
    }

    .navbar a {
        margin: 10px 0;
        opacity: 1;
        animation: none;
    }

    .navbar.active {
        display: flex;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        font-size: 30px;
        color: #fff;
    }

    .menu-icon:hover {
        color: #0ef;
    }
}



