@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: 'Nunito sans', 'Open sans', Arial, sans-serif;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
   
}

.navbar a:hover {
    color: #0ef;
}

.menu-icon {
    display: none;
}

/* Single product */
.single-product .col-2 img {
    width: 100%;
    padding: 0;
}

.single-product {
    margin-top: 80px;
}

.single-product .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.single-product .col-2 {
    padding: 20px;
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.col-2 .rating {
    color: #ff523b;
}

.rating span {
    font-weight: 600;
    color: #252525;
}

.single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: 700;
}

.single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}

/* input:focus {
    outline: none;
} */

.single-product .fa {
    color: #ff523b;
    margin-left: 10px;
}

.single-product .details {
    margin-top: 10px;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    text-decoration: none;
}


@media screen and (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        background: #051129;
    }

    .navbar a {
        margin: 10px 0;
        opacity: 1;
        animation: none;
    }

    .navbar.active {
        display: flex;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        font-size: 30px;
        color: #fff;
    }

    .menu-icon:hover {
        color: #0ef;
    }
}



