@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  outline: none;
  border-style: none;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  font-family: "Nunito sans", "Open sans", Arial, sans-serif;
  letter-spacing: 0.3px;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

/* -------- HEADER -------- */
.header {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #051129;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
}

.navbar a {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
}

.navbar a:hover {
  color: #0ef;
}

.menu-icon {
  display: none;
}

/* -------- MAIN -------- */

/* -- Hero Banner -- */
.hero-image {
  background: #000 url(../images/hero-banner-sports.jpg) center center / cover
    no-repeat;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  color: #fff;
  text-align: center;
}

.hero-text h1 {
  font-size: 50px;
  font-weight: 600;
  margin: 10px 0;
}

.hero-text p {
  font-size: 28px;
  font-weight: 500;
  margin: 20px 0;
  max-width: 700px;
  margin: 0 auto;
  color: #fff;
}

.hero-btn {
  text-decoration: none;
  color: #fff;
  background: #0e9aff;
  padding: 10px 30px;
  border-radius: 30px;
  margin-top: 20px;
  display: inline-block;
  transition: color 0.3s ease-in-out;
}

.hero-btn:hover {
  background: #0086e6;
}

/* -- Featured Products -- */
.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.col-1 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
  margin-top: 30px;
}

.col-1:hover {
  transform: translateY(-5px);
}

.col-1 img {
  width: 100%;
}

.title {
  text-align: center;
  margin: 60px auto;
  position: relative;
  line-height: 60px;
  color: #555;
  font-size: 34px;
  margin-bottom: 10px;
}

.title::after {
  content: "";
  background: #006fbf;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4 {
  color: #555;
  font-weight: 500;
}

.col-1 p {
  font-size: 14px;
}

.rating i {
  color: #ffa500;
}

.col-2 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-2 img {
  width: 100%;
}

/* -- Hot Deal -- */
.offer {
  display: flex;
  background: radial-gradient(#fff, #d3ecff);
  margin-top: 60px;
  padding: 30px 0;
}

.row {
  display: flex;
}

.col-3 {
  flex: 1;
  padding: 30px 0;
}

.offer-img {
  max-width: 100%;
  height: auto;
}

.col-3 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

p {
  color: #555;
  font-size: 15px;
}

.col-3 h3 {
  color: #006fbf;
  font-weight: 500;
  font-size: 22px;
}

.btn {
  display: block;
  background: #006fbf;
  color: #fff;
  height: 35px;
  padding: 5px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #0064ab;
}

/* -- Testimonials -- */
.testimonial {
  padding-top: 40px;
}

.testimonial .col-2 {
  text-align: center;
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
  height: 370px;
  margin-top: 40px;
  background-color: #fafafa;
}

.testimonial .col-2 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}

.testimonial .col-2:hover {
  transform: translateY(-10px);
}

.fa-quote-left {
  font-size: 34px;
  color: #006fbf;
}

.col-2 p {
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}

.testimonial .col-2 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

/*--Footer--*/
.footer {
  background-color: #bfbfbf;
  padding: 70px 0;
  margin-top: 70px;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #0c0c0c;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #181818;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #161515;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #0f0e0e;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.logintext,
.username,
.password {
  color: #0c0c0c;
}

.username,
.password {
  text-align: left;
}

.modal-content {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  max-width: 800px;
  width: 300px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #0c0c0c;
}

/* Additional styles for the form */
.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content label {
  margin-bottom: 8px;
}

.modal-content input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-content button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #45a049;
}

/* -------- RESPONSIVE -------- */

/* -- Hero Banner -- */
@media screen and (max-width: 992px) {
  .hero-text h1 {
    font-size: 40px;
  }

  .hero-text p {
    font-size: 24px;
    max-width: 600px;
  }
}

@media screen and (max-width: 768px) {
  .hero-text h1 {
    font-size: 35px;
    padding: 0 20px;
  }

  .hero-text p {
    font-size: 20px;
    max-width: 500px;
  }
}

@media screen and (max-width: 480px) {
  .hero-text h1 {
    font-size: 30px;
  }

  .hero-text p {
    font-size: 16px;
  }

  .hero-btn {
    padding: 7px 17px;
    border-radius: 20px;
  }
}

/* -- Hot deals -- */
@media (max-width: 768px) {
  .offer {
    flex-direction: column;
    align-items: center;
  }

  .offer .row {
    flex-direction: column;
  }

  .col-3 {
    text-align: center;
  }

  .col-3 h1 {
    font-size: 34px;
    line-height: 50px;
    margin: 20px 0;
  }

  .col-3 h3 {
    font-size: 19px;
  }

  .col-3 p {
    padding: 0 20px;
    font-size: 14px;
  }

  .btn {
    margin: 20px auto;
  }
}

/* -- Rows --*/
@media screen and (max-width: 900px) {
    .row {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .col-3 {
        flex-basis: 100%;
    }
}

/* -- Footer -- */
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    background: #051129;
  }

  .navbar a {
    margin: 10px 0;
    opacity: 1;
    animation: none;
  }

  .navbar.active {
    display: flex;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 30px;
    color: #fff;
  }

  .menu-icon:hover {
    color: #0ef;
  }

  .navbar {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    background: #051129;
  }

  .navbar a {
    margin: 10px 0;
    opacity: 1;
    animation: none;
  }

  .navbar.active {
    display: flex;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 30px;
    color: #fff;
  }

  .menu-icon:hover {
    color: #0ef;
  }

  .hero-text p {
    max-width: 80%;
  }
}
