@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'Nunito Sans', sans-serif;
}

body {
    color: #ededed;
    background: #fff;
}

/* -------- HEADER -------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
   
}

.navbar a:hover {
    color: #0ef;
}

.menu-icon {
    display: none;
}

/* -------- MAIN -------- */
.categories {
    
}


@media screen and (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        background: #051129;
    }

    .navbar a {
        margin: 10px 0;
        opacity: 1;
        animation: none;
    }

    .navbar.active {
        display: flex;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        font-size: 30px;
        color: #fff;
    }

    .menu-icon:hover {
        color: #0ef;
    }

}