@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    outline: none;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
}
 
body {
    font-family: "Nunito sans", "Open sans", Arial, sans-serif;
    letter-spacing: 0.3px;
}